---
page_title: "Provider: Keytab"
description: |-
  The keytab provider is used to interact with Kerberos keytab resources.
---

# Keytab Provider

The keytab provider is used to interact with Kerberos keytab resources using the [gokrb5](https://github.com/jcmturner/gokrb5) library. The provider itself has no configuration options.

Use the navigation to the left to read about the available resources.
